/healthmonitorui/node_modules
/healthmonitorui/dist

# local env files
/healthmonitorui/.env.local
/healthmonitorui/.env.*.local

# Log files
/healthmonitorui/npm-debug.log*
/healthmonitorui/yarn-debug.log*
/healthmonitorui/yarn-error.log*

/healthmonitordata

# Editor directories and files
/.idea
/healthmonitorui/.idea
/healthmonitorapi/.idea
/healthmonitorapi/healthmonitorapi
/healthmonitorvalidator/.idea
/healthmonitorvalidator/healthmonitorvalidator
/healthmonitormockdevice/healthmonitormockdevice
/healthmonitorui/.vscode
/healthmonitorui/*.suo
/healthmonitorui/*.ntvs*
/healthmonitorui/*.njsproj
/healthmonitorui/*.sln
/healthmonitorui/*.sw?
